<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.liu.core.mapper.seckill.SeckillOrderMapper">
    <select id="selectByUserIdAndActivityId" resultType="org.liu.core.entity.seckill.SeckillOrder">
        select * from seckill_order where user_id = #{userId} and activity_id = #{activityId}
    </select>
</mapper>